html, body {
        height: 100%;
        margin: 0;
    }
    .carousel {
        height: 100%; 
    }
    .carousel-inner {
        height: 100%;
    }
    .carousel-item {
        height: 100%;
    }
    .carousel-item img {
        object-fit: cover;
        height: 100%; 
    }

    #movie-label {
        text-align: center;
        background-color: blue;
        font-weight: bold;
        max-width: 100%;
    }
    #movie-name {
        font-size: 2rem;
    }
    #movie-lang {
        font-size: 1.5rem;
    }
    #movie-duration {
        font-size: 1.2rem;
    }

    #movie-lang {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        gap: 10px;
    }
    #movie-lang img {
        cursor: pointer;
    }