/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    width: 80%;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #416a96;
    color: white;
}

/* Poster Image */
.poster {
    width: 50px;
    height: auto;
}

/* Delete Button as Icon Only */
.delete-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.delete-button .icon {
    width: 20px;
    height: auto;
}

/* Modify Button */
.modify-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modify-button:hover {
    background-color: #0056b3;
}
