body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url('./images/movies/light-background img.png') no-repeat center center fixed;
  background-size: cover;
  color: white;
}

h2 {
  margin-bottom: 10px;
}

#carouselExampleIndicators {
  width: 700px;
  height: 450px;
  margin: 0 auto;
  
}

@media (max-width: 768px) {
  #carouselExampleIndicators {
    width: 100%; 
    height: auto; 
  }
}

.row {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  padding: 10px;
  padding-bottom: 40px;
  gap: 15px;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.row::-webkit-scrollbar {
  display: none;
}

.movie-item {
  background: rgba(255, 255, 255, 0.1);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 180px;
  height: 200px;
  border-radius: 10px;
  border: 1px;
  flex: 0 0 auto;
  padding: 10px;
  cursor: pointer;
  transition: 0.2s ease;
}

.movie-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.movie-item a {
  display: block; 
  height: 100%; 
  width: 100%;
}