.profile-container {
    background-color: #1e3b59;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 450px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  .profile-image img {
    width: 80px;
    height: 80px;
    margin: 0 auto 20px;
    display: flex;
    border-radius: 50%;
    border: 2px solid #fff;
  }
  
  .profile-details p {
    margin: 10px 0;
    font-size: 16px;
    background-color: #f4f4f4;
    color: #333;
    padding: 8px;
    border-radius: 5px;
  }
  
  .edit-btn,
.logout-btn {
  margin-top: 20px;
  background-color: #e63946;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

.logout-btn {
  background-color: #1d3557;
  margin-top: 10px;
}

.edit-btn:hover {
  background-color: #d62839;
}

.logout-btn:hover {
  background-color:#457b9d;
}